* {
    margin: 0;
    padding: 0;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: rgba(50, 121, 197, 0.676);
    justify-content: space-around;
    align-items: stretch;
    height: 80vh;
    margin: 50px;
    padding: 50px;
}

.trademark {
    flex-grow: 0;
    background-color: black;
    color: white;
    align-self: center;
    font-size: 20px;
    
}

.display {
    display: flex;
    flex-grow: 0.1;
    height: 70px;
    text-align: center;
}

.input {
    background-color: white;
    flex-grow: 0.7;
}

.result {
    background-color: black;
    color: white;
    flex-grow: 0.3;
}

button {
    font-size: 50px;
    width: 60px;
}
.buttons {
    flex-grow: 0.5;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}


.numbers {
    display: flex;
    flex-wrap: wrap;
}

.operators {
    display: flex;
    flex-direction: column;
}